utilization.mgmt.service/src/main/resources/wsdl/FaWsvcInpSearchUMUmsv_v4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://trizetto.com/fxi/isl" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4">
      <s:element name="SearchUmUMSV_v4_UmumRefId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pConfig" type="tns:Config" />
            <s:element minOccurs="0" maxOccurs="1" name="pUMUM_REF_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pPAGE" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pPAGESIZE" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pSKIPROWS" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Config">
        <s:complexContent mixed="false">
          <s:extension base="tns:RecordBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FacetsIdentity" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CallingSystemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CallingSystemUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CallingSystemUserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CallingSystemTransactionId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequestedColumns" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RecordBase" />
      <s:complexType name="REC_UMSV">
        <s:complexContent mixed="false">
          <s:extension base="tns:RecordBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_REF_ID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_SEQ_NO" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MEME_SFX" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="MEME_LAST_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MEME_FIRST_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MEME_MID_INIT" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MEME_CK" nillable="true" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_AUTH_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_REF_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_TYPE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_CAT" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_INPUT_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_RECD_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_NEXT_REV_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_AUTH_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="UMVT_STS" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMVT_STS_DTM" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_FROM_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_TO_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRPR_ID_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRPR_ID_SVC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRPR_ID_FAC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRPR_ID_PCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MED_INFO_REL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_IDCD_ID_PRI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_IDCD_ID_REL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MDCD_ID_PRI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_INPUT_USID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MEME_HICN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_REQ_NW_STS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MICRO_ID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMDX_REF_DTM" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PSCD_ID_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PSCD_POS_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PSCD_ID_AUTH" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PSCD_POS_AUTH" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_PSOR" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PR_NW_STS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_OUT_AREA_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_RIND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SESE_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SESE_RULE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SEPC_PRICE_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SEGR_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IPCD_ID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_UNITS_REQ" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_UNITS_AUTH" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_UNIT" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_CHARGE" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_CONTRACT_AMT" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_NEGOTIATE_AMT" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_NEGOTIATE_PCT" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_NFEE" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_PRICE" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRICE_EXCD" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DISALL_EXCD" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_LDNY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_USID_LDNY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRE_AUTH_TOS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRE_AUTH_PROC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRE_AUTH_DIAG" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRE_AUTH_PROV" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_CASE_MGT_TOS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_CASE_MGT_PROC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_CASE_MGT_DIAG" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_ME_AGE" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PER_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_PVIO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PR_COMP_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_PRCM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_AS_NORM1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_SSO_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_SSO_OBTAIN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_AS_NORM2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_POS_NORM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MEME_RECORD_NO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PCP_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PDBC_PFX_SEGR" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_AMT_ALLOW" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_UNITS_ALLOW" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_AMT_PAID" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_UNITS_PAID" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="UMSV_DENY_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_CALL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_ASOR" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MEME_REL" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MEME_BIRTH_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="SBSB_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SBIH_SBSB_ID_ORIG" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="GRGR_CK" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="SBSB_CK" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="SGSG_CK" nillable="true" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="CMCM_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_CREATE_METHOD" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMUM_CREATE_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCD_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_CREATE_USID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MEME_SEX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_OTHER_BN_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_REF_ID_LINK" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_MCTR_LINK" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CSCS_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CSPD_CAT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CSPI_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_ACD_IND" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMUM_ACD_DTM" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_ACD_STATE" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMAC_SEQ_NO" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="USUS_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMVT_MCTR_REAS" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UMVT_SEQ_NO" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MDCD_ID_PRI_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IPCD_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SESE_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SEDS_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SEGR_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_IDCD_ID_PRI_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_IDCD_ID_REL_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRPR_REQ_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCF_MCTR_SPEC_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCP_ID_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRPR_NPI_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRPR_SVC_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCF_MCTR_SPEC_SVC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCP_ID_SVC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRPR_NPI_SVC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRPR_FAC_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRPR_NPI_FAC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRPR_PCP_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRPR_NPI_PCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PSCD_ID_DESC_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PSCD_ID_DESC_AUTH" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRICE_EXCD_TEXT1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRICE_EXCD_TEXT2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DISALL_EXCD_TEXT1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DISALL_EXCD_TEXT2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_CREATE_USID_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_INPUT_USID_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="USUS_ID_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCP_TITLE_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCP_TITLE_SVC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CSPI_ITS_PREFIX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_AUTH_IND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_REF_IND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_TYPE_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_CAT_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMVT_STS_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MED_INFO_REL_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PER_IND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PCP_IND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PR_COMP_IND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_AS_NORM1_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_AS_NORM2_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_SSO_REQ_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRE_AUTH_TOS_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRE_AUTH_DIAG_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRE_AUTH_PROC_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_CASE_MGT_PROC_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_CASE_MGT_TOS_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_CASE_MGT_DIAG_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PSCD_DESC_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PSCD_DESC_AUTH" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_PSOR_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PR_NW_STS_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_OUT_AREA_IND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_RIND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_UNIT_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_PVIO_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_PRCM_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_CALL_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_ASOR_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_NFEE_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_MCTR_LDNY_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_SSO_OBTAIN_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MEME_REL_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMVT_MCTR_REAS_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_CREATE_METHOD_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MEME_SEX_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_OTHER_BN_IND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMUM_MCTR_LINK_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_PRE_AUTH_PROV_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCF_MCTR_SPEC_REQ_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCF_MCTR_SPEC_SVC_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_COMG_OBT_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DFSC_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DFSC_ID_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_RISK_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_RISK_IND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_RISK_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_RISK_ID_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_DELG_CL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_DELG_CL_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_CL_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_CL_ID_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_DELG_UM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_DELG_UM_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_UM_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_DOFR_UM_ID_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_SVC_AREA_IND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_SVC_AREA_IND_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MCRL_MEME_CREL_CD" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MCRL_CREL_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCP_NPI_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCF_MCTR_SPEC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PRCF_MCTR_SPEC_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UNLIM_UNITS_REQ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UNLIM_UNITS_AUTH" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCD_ID_SUB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCD_ID_PRI_SUB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCD_ID_PRI_SUB_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_IDCD_MAN_IND" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="REC_RESP">
        <s:complexContent mixed="false">
          <s:extension base="tns:RecordBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PITM_TICKET_NO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PITM_STS" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="RESP_SERVICE" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="REC_ERR">
        <s:complexContent mixed="false">
          <s:extension base="tns:RecordBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ERR_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ERR_CODE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ERR_CONTEXT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ERR_MSG_USER" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ERR_MSG_SYS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ERR_MSG_PROG" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Response">
        <s:complexContent mixed="false">
          <s:extension base="tns:RecordBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AppReturnCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="AppErrors" type="tns:ArrayOfREC_ERR" />
              <s:element minOccurs="0" maxOccurs="1" name="RESP_COLL" type="tns:ArrayOfREC_RESP" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfREC_ERR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="REC_ERR" nillable="true" type="tns:REC_ERR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfREC_RESP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="REC_RESP" nillable="true" type="tns:REC_RESP" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchUmUMSV_v4Response">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UMSV_COLL" type="tns:ArrayOfREC_UMSV" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfREC_UMSV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="REC_UMSV" nillable="true" type="tns:REC_UMSV" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchUmUMSV_v4_UmumRefIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUmUMSV_v4_UmumRefIdResult" type="tns:SearchUmUMSV_v4Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUmUMSV_v4_MemberKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pConfig" type="tns:Config" />
            <s:element minOccurs="1" maxOccurs="1" name="pMEME_CK" nillable="true" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="pUMSV_FROM_DT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pUMSV_TO_DT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pREVIEW_TYPE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pPAGE" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pPAGESIZE" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pSKIPROWS" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUmUMSV_v4_MemberKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUmUMSV_v4_MemberKeyResult" type="tns:SearchUmUMSV_v4Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUmUMSV_v4_ProviderId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pConfig" type="tns:Config" />
            <s:element minOccurs="1" maxOccurs="1" name="pUMSV_FROM_DT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pUMSV_TO_DT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pREVIEW_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPRPR_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pPAGE" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pPAGESIZE" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pSKIPROWS" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUmUMSV_v4_ProviderIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUmUMSV_v4_ProviderIdResult" type="tns:SearchUmUMSV_v4Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUmUMSV_v4_SubscriberKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pConfig" type="tns:Config" />
            <s:element minOccurs="1" maxOccurs="1" name="pSBSB_CK" nillable="true" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="pUMSV_FROM_DT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pUMSV_TO_DT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pREVIEW_TYPE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pPAGE" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pPAGESIZE" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pSKIPROWS" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUmUMSV_v4_SubscriberKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUmUMSV_v4_SubscriberKeyResult" type="tns:SearchUmUMSV_v4Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://trizetto.com/fxi/isl">
      <s:element name="FxiIslHeader" type="s1:FxiIslHeader" />
      <s:complexType name="FxiIslHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Partner" type="s1:PartnerType" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" nillable="true" type="s1:HdrCollection" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="PartnerType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PartnerName" type="s1:PartnerNameType" />
          <s:element minOccurs="0" maxOccurs="1" name="PartnerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartnerTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PartnerNameType">
        <s:restriction base="s:string">
          <s:enumeration value="Facets" />
          <s:enumeration value="HealthWeb" />
          <s:enumeration value="NetworX" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="HdrCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Column" nillable="true" type="s1:HdrColumn" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubCollection" nillable="true" type="s1:HdrCollection" />
        </s:sequence>
        <s:attribute name="type" type="s1:CollectionTypeList" use="required" />
        <s:attribute name="name" type="s:string" />
      </s:complexType>
      <s:complexType name="HdrColumn">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="name" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="CollectionTypeList">
        <s:restriction base="s:string">
          <s:enumeration value="SoapHeader" />
          <s:enumeration value="Input" />
          <s:enumeration value="Row" />
          <s:enumeration value="Group" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchUmUMSV_v4_UmumRefIdSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUmUMSV_v4_UmumRefId" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_UmumRefIdSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUmUMSV_v4_UmumRefIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_UmumRefIdFxiIslHeader">
    <wsdl:part name="FxiIslHeader" element="s1:FxiIslHeader" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_MemberKeySoapIn">
    <wsdl:part name="parameters" element="tns:SearchUmUMSV_v4_MemberKey" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_MemberKeySoapOut">
    <wsdl:part name="parameters" element="tns:SearchUmUMSV_v4_MemberKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_MemberKeyFxiIslHeader">
    <wsdl:part name="FxiIslHeader" element="s1:FxiIslHeader" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_ProviderIdSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUmUMSV_v4_ProviderId" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_ProviderIdSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUmUMSV_v4_ProviderIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_ProviderIdFxiIslHeader">
    <wsdl:part name="FxiIslHeader" element="s1:FxiIslHeader" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_SubscriberKeySoapIn">
    <wsdl:part name="parameters" element="tns:SearchUmUMSV_v4_SubscriberKey" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_SubscriberKeySoapOut">
    <wsdl:part name="parameters" element="tns:SearchUmUMSV_v4_SubscriberKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUmUMSV_v4_SubscriberKeyFxiIslHeader">
    <wsdl:part name="FxiIslHeader" element="s1:FxiIslHeader" />
  </wsdl:message>
  <wsdl:portType name="WebSvcSearchUmUMSV_v4Soap">
    <wsdl:operation name="SearchUmUMSV_v4_UmumRefId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service retrieves service or procedure information by Reference ID.</wsdl:documentation>
      <wsdl:input message="tns:SearchUmUMSV_v4_UmumRefIdSoapIn" />
      <wsdl:output message="tns:SearchUmUMSV_v4_UmumRefIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUmUMSV_v4_MemberKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service retrieves UM Service information by Member Contrived Key.</wsdl:documentation>
      <wsdl:input message="tns:SearchUmUMSV_v4_MemberKeySoapIn" />
      <wsdl:output message="tns:SearchUmUMSV_v4_MemberKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUmUMSV_v4_ProviderId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service retrieves UM Service information by Provider Identifier.</wsdl:documentation>
      <wsdl:input message="tns:SearchUmUMSV_v4_ProviderIdSoapIn" />
      <wsdl:output message="tns:SearchUmUMSV_v4_ProviderIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUmUMSV_v4_SubscriberKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service retrieves UM Service information by Subscriber Contrived Key.</wsdl:documentation>
      <wsdl:input message="tns:SearchUmUMSV_v4_SubscriberKeySoapIn" />
      <wsdl:output message="tns:SearchUmUMSV_v4_SubscriberKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebSvcSearchUmUMSV_v4Soap" type="tns:WebSvcSearchUmUMSV_v4Soap">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchUmUMSV_v4_UmumRefId">
      <soap:operation soapAction="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4/SearchUmUMSV_v4_UmumRefId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchUmUMSV_v4_UmumRefIdFxiIslHeader" part="FxiIslHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUmUMSV_v4_MemberKey">
      <soap:operation soapAction="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4/SearchUmUMSV_v4_MemberKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchUmUMSV_v4_MemberKeyFxiIslHeader" part="FxiIslHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUmUMSV_v4_ProviderId">
      <soap:operation soapAction="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4/SearchUmUMSV_v4_ProviderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchUmUMSV_v4_ProviderIdFxiIslHeader" part="FxiIslHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUmUMSV_v4_SubscriberKey">
      <soap:operation soapAction="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4/SearchUmUMSV_v4_SubscriberKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchUmUMSV_v4_SubscriberKeyFxiIslHeader" part="FxiIslHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebSvcSearchUmUMSV_v4Soap12" type="tns:WebSvcSearchUmUMSV_v4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchUmUMSV_v4_UmumRefId">
      <soap12:operation soapAction="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4/SearchUmUMSV_v4_UmumRefId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchUmUMSV_v4_UmumRefIdFxiIslHeader" part="FxiIslHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUmUMSV_v4_MemberKey">
      <soap12:operation soapAction="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4/SearchUmUMSV_v4_MemberKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchUmUMSV_v4_MemberKeyFxiIslHeader" part="FxiIslHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUmUMSV_v4_ProviderId">
      <soap12:operation soapAction="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4/SearchUmUMSV_v4_ProviderId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchUmUMSV_v4_ProviderIdFxiIslHeader" part="FxiIslHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUmUMSV_v4_SubscriberKey">
      <soap12:operation soapAction="http://trizetto.com/fxi/isl/FaWsvcInpSearchUMUmsv_v4/SearchUmUMSV_v4_SubscriberKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchUmUMSV_v4_SubscriberKeyFxiIslHeader" part="FxiIslHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebSvcSearchUmUMSV_v4">
    <wsdl:port name="WebSvcSearchUmUMSV_v4Soap" binding="tns:WebSvcSearchUmUMSV_v4Soap">
      <soap:address location="http://abn-ode-app-037/FacetsWebServiceLibrary/FaWsvcInpSearchUMUmsv_v4.asmx" />
    </wsdl:port>
    <wsdl:port name="WebSvcSearchUmUMSV_v4Soap12" binding="tns:WebSvcSearchUmUMSV_v4Soap12">
      <soap12:address location="http://abn-ode-app-037/FacetsWebServiceLibrary/FaWsvcInpSearchUMUmsv_v4.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>